.html {
  font-size: min(2vw, 2vh);
}
.App {
  padding: 1rem;
  margin: auto;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
}
.gameScreen,
.wheel {
  width: 100%;
  height: 100%;
}
.gameScreen {
  position: relative;
}
.header {
  height: 20%;
  width: 50%;
  margin: auto;
}
.header .info {
  background-color: white;
  padding: 0.5em;
  border: 0.1em solid rgb(0 0 0 / 18%);
  border-radius: 0.5em;
}
.header .info p {
  margin: 0;
  font-weight: 500;
}
.wheelContainer {
  height: 80%;
  position: relative;
}
.wheelBg {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.wheelCanvas {
  /* position:absolute; */
  top: 0;
  left: 0;
  z-index: -1;
}
.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.App:not(:hover) .actions {
  display: none;
}
.modal {
  padding: 1rem;
  color: black;
}
.modal > div {
  max-width: calc(min(100vh, 100vw) * 0.5);
  margin: auto;
}
